#landing-img {
  margin-top: 110px;
  background: asset_url('header.png');
  height: 460px;
}

.sidebar{
  width: 270px;
  margin-right: 35px;
  float: left;
}


#landing-products{
  width: 863px;
  float: left;
//  padding-right: 35px;
}

.box-title{
  font-weight: bold;
  color: #ffffff;
  background-color: #019587;
  padding: 20px 0px 20px 18px;
  font-size: 22px;
}

.box-content{
  display: block;
  margin-top: 50px;
}

.sidebar-list{
  ul {
    box-shadow: 0 3px 10px -4px black;

    background-color: #ffffff;
    list-style: none;
    margin-top: 0px;
    :first-child{
      padding-top: 24px;
    }
    :last-child{
      padding-bottom: 24px;
    }
    li {
      display: block;
      font-size: 18px;
      padding: 12px 0px;

      a{
        text-decoration: none;
        color: #99A4AB;
      }

      a:hover{
        color: #FC5C3C;
      }
    }
  }
}

.products-list{
  ul {
    box-shadow: 0 3px 10px -4px black;
    background-color: #ffffff;
    list-style: none;
    margin-top: 0px;
    padding: 0px;

    li {
      display: inline-block;
      font-size: 18px;
      padding: 12px 0px;

      width: 30%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;

      display: inline-block;
      vertical-align: middle;

      a{
        text-decoration: none;
        color: #374046;
      }

      a:hover{
        color: #FC5C3C;
      }
    }
  }
}

.product-img-box {
  padding: 25px;
  display: block;
  width: 80%;
  height: 260px;
  margin: auto;
  text-align: center;
  background-color: #f6f6f6;
  display: inline-block;
  vertical-align: middle;

  img {
    width: 80%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.product-price{
  color: #009587;
  width: 100%;
  text-align: center;
  font-weight: bold;
}